body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: #b4b4b4;
}

header{
    background-color: blue;
    padding: 20px;
    text-align: center;
    margin: 0;
    color: white;
}

.content{
    margin: auto;
}



.biography{
    margin: 30px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #cef6ff;
    border-radius: 10px;
}

.achievements{
     margin: 30px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #baffe6;
    border-radius: 10px;
}

.biography:hover,
.achievements:hover {
    transform: translateY(-5px);        
    box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 10px;
}

footer{
    width: 100vw;
    background-color: blue;
    padding: 20px;
    text-align: center;
    margin: 0;
    color: white;
    position: fixed;
    bottom: 0;
}